$headerHeight: 43px;
$footerHeight: 43px;
$headerInnerHeight: 38px;
$footerInnerHeight: 38px;

$defaultPadding: 10px;
$halfPadding: 5px;
$smallPadding: 2px;

$dark: #2f2f33;
$darkgray: #101010;
$gray: #ebebeb;
$highlightedGray: #dbdbdb;

$darkText: #060606;
$lightText: white;
